doctype html

head

  style.

    a:link, a:visited {

    color: white;

    display: inline-block;

    text-decoration: none;

    }

p(style='margin-top:20%;')

div(style='border:2px solid black;width:500px;margin:auto;')

  h1(style='text-align:center;font-family:fantasy; font-size: 400%;')

    | ORDER
 
    br

    |  FAIL!

  div(style='font-size: 200%; text-align:center; margin:0 auto; width:200px; background-color:black')

    a(href='/..') 돌아가기
  br

  br

  br

  br
