doctype html

html

  head

    style.

      a:link, a:visited {

      color: white;

      display: inline-block;

      text-decoration: none;

      }

  body

    br
    br

    div(style=' border: 3px solid black; width:450px; margin: 0 auto;')

      h1(style='text-align:center; font-size:300%; font-family:fantasy; margin-top:3%') Smart WareHouse

      div(style='background-color:black;color:white;padding:10px; width:350px; margin: 0 auto; margin-top:100px;')

        h2(style='text-align:center; font-size:30px')

          a(href='/order') 주문하기

        br

        h2(style='text-align:center; font-size:30px')

          a(href='/check') 수량확인

        br

      pre(style='text-align:center;margin-top:50px;').

           This page is for ICT competition.

          COPYRIGHT©JongYeon Park,YoungSoo Choi

      br
